<section style="background-color: #F0F2F5;">
  <div class="container py-5">
    <div class="main-timeline-2">
      <div class="timeline-2 left-2" *ngFor="let item of data">
        <div class="card">
          <img [src]="'./assets/images/rigo/' + item.imagen" class="card-img-top"
            alt="Responsive image">
          <div class="card-body p-4">
            <h4 class="fw-bold mb-4">{{item.dia}}</h4>  
             <h4 class="fw-bold mb-4">❤️  ❤️</h4> 
            <!--<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> {{item.anio}}</p> -->
            <p class="mb-0">{{item.mensaje}}</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>